@import "./shared/scss/respond.scss";

.newsfeed {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: stretch;
  position: relative;

  &__sidebar {
    min-width: 30rem;
    box-shadow: 0 0 1px rgba(0,0,0,0.05), 
                0 0 2px rgba(0,0,0,0.05), 
                0 0 4px rgba(0,0,0,0.05), 
                0 0 8px rgba(0,0,0,0.05);

    @include respond(phablet) {
      display: none;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      padding: 2rem 4rem;
      background-color: #fff;
      border-bottom: 1px solid #ccc;

      @include respond(phablet) {
        padding: 1.5rem 3rem;
      }

      &__avatar {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 2rem;
        border: 1px solid #5E6BF6;
      }

      &__img {
        width: 2.5rem;
        height: 2.5rem;
      }

      &__title {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .feeds {
      flex: 1;
      padding: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: max-content;
      grid-gap: 3rem;
      overflow: hidden;
      overflow-y: scroll;

      &__feed {
        overflow: hidden;
        box-shadow: 0 0 1px rgba(0,0,0,0.05), 
                    0 0 2px rgba(0,0,0,0.05), 
                    0 0 4px rgba(0,0,0,0.05), 
                    0 0 8px rgba(0,0,0,0.05);
      }

      &__hint {
        font-size: 2rem;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
      }

      &__loading {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
      }

      &.load {
        align-items: center;
        grid-template-rows: 1fr;
      }

      @include respond(tablet) {
        grid-template-columns: 1fr 1fr;
      }
      @include respond(phablet) {
        padding: 3rem;
        grid-template-columns: 1fr;
      }
    }

    .mobile {
      display: none;
      height: 8rem;
      background-color: #fff;
      padding: 0 2rem;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #ccc;
  
      @include respond(phablet) {
        display: flex;
      }
    
      &__menu-button {
        margin-right: 1rem;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: all .2s;
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &:hover {
          border-color: #5E6BF6;

          @include respond(phablet) {
            border-color: transparent;
          }
        }
      }
    
      &__menu-checkbox {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;
    
        &:checked ~ .mobile__menu {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;

          &::before {
            width: 100vw;
            visibility: visible;
          }
        }
    
        &:checked {
          & + svg > g > .mobile__menu-close {
            visibility: visible;
          }
          & + svg > g > .mobile__menu-show {
            visibility: hidden;
          }
        }
        &:not(checked) {
          & + svg > g > .mobile__menu-close {
            visibility: hidden;
          }
          & + svg > g > .mobile__menu-show {
            visibility: visible;
          }
        }
      }

      &__menu-close {
        visibility: hidden;
      }
      &__menu-show {
        visibility: visible;
      }

      &__menu {
        display: none;

        @include respond(phablet) {
          width: 75vw;
          display: block;
          position: absolute;
          top: 8rem;
          left: 0;
          z-index: 1;
          transform: translateX(-100vw);
          opacity: 0;
          visibility: hidden;
          transition: all .2s ease;
          height: calc(100% - 8rem);
          box-shadow: 0 1px 0 rgba(0,0,0,0.05), 
                      0 2px 0 rgba(0,0,0,0.05), 
                      0 4px 0 rgba(0,0,0,0.05), 
                      0 8px 0 rgba(0,0,0,0.05);
      
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 0;
            height: 100%;
            visibility: hidden;
            transition: all .3s;
            background-color: rgba(#000, .4);
          }
        }
      }
    }
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading {
  font-size: 2rem;
  animation: pulse 1s ease infinite;
}