<div class="newsfeed">
  <div class="newsfeed__sidebar">
    <app-sidebar
      [users]="users"
      (select)="onSelectUser($event)"
      (loadAllFeeds)="onLoadAllFeeds()"
    ></app-sidebar>
  </div>

  <main class="newsfeed__content">
    <div class="mobile">
      <button type="button" class="mobile__menu-button">
        <input type="checkbox" class="mobile__menu-checkbox"/>

        <svg width="24" height="24">
          <g fill="none" fill-rule="evenodd">
            <path d="M0 0h24v24H0z"/>
            <path class="mobile__menu-show" fill="#000" fill-rule="nonzero" d="M4 16h16a1 1 0 010 2H4a1 1 0 010-2h16H4zm0-5h16a1 1 0 010 2H4a1 1 0 010-2zm0-5h16a1 1 0 010 2H4a1 1 0 010-2z"/>
            <path class="mobile__menu-close" fill="#000" fill-rule="nonzero" d="M5.20970461 5.38710056l.08318861-.09420734c.36048396-.36048396.92771502-.3882135 1.32000622-.08318861l.09420734.08318861L12 10.585l5.2928932-5.29210678c.3905243-.39052429 1.0236893-.39052429 1.4142136 0 .3905243.39052429.3905243 1.02368927 0 1.41421356L13.415 12l5.2921068 5.2928932c.3604839.360484.3882135.927715.0831886 1.3200062l-.0831886.0942074c-.360484.3604839-.927715.3882135-1.3200062.0831886l-.0942074-.0831886L12 13.415l-5.29289322 5.2921068c-.39052429.3905243-1.02368927.3905243-1.41421356 0-.39052429-.3905243-.39052429-1.0236893 0-1.4142136L10.585 12 5.29289322 6.70710678c-.36048396-.36048396-.3882135-.92771502-.08318861-1.32000622l.08318861-.09420734-.08318861.09420734z"/>
          </g>
        </svg>

        <app-sidebar
          class="newsfeed__sidebar mobile__menu"
          [users]="users"
          (select)="onSelectUser($event)"
          (loadAllFeeds)="onLoadAllFeeds()"
        ></app-sidebar>
      </button>

      <h1 class="mobile__brand">MEGA FEEDS</h1>
    </div>

    <div class="header" *ngIf="header.title">
      <span class="header__avatar u-center" *ngIf="header.user?.avatar">
        <img class="header__img" [src]="header.user?.avatar" [alt]="header.user?.firstName + ' ' + header.user?.lastName + ' avatar'" />
      </span>
      
      <span class="header__title">{{ header.title }} Feeds <span *ngIf="selections.length">({{ selections.length }})</span></span>
    </div>

    <div class="feeds" [class.load]="isLoading || !isAnyUserSelected">
      <div class="feeds__loading loading" *ngIf="isLoading">LOADING</div>
      <div class="feeds__hint" *ngIf="!isAnyUserSelected">PLEASE SELECT ONE OF THE USERS</div>

        <app-feed
          class="feeds__feed"
          *ngFor="let feed of selections; trackBy:trackByFn"
          [data]="feed"
          [isFavorite]="isFavoriteFeed(feed.owner.id, feed.id)"
          (toggleFavorite)="toggleFavoriteFeed(feed.owner.id, feed.id)"
        ></app-feed>
    </div>
  </main>
</div>